/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-04, 15:55:47
    Author     : Oli
*/

#pageTitle {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}

#addDateInterval {
    cursor: pointer;
    color: #337ab7;
}

#addDateInterval:hover {
    cursor: pointer;
    color: #337ab7;
    text-decoration: underline;
}

#addDateInterval:active {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.dateSelect {
    margin-left: 15px !important;
}

#rechercheAvancee table td {
    padding: 5px;
}

#rechercheAvancee table {
    width: 100%;
    table-layout: fixed;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.labelTD {
    width: 40%;
}

.inputTD {
    width: 60%;
}

.dateInterval * {
    margin-bottom: 3px !important;
}

#rechercheAvanceeBouton {
    width: 225px;
    height: 45px;
    margin-right: 10px;
    margin-bottom: 5px;
}

#rechercheAvanceeBoutonTD {
    text-align: right;
    padding: 15px !important;
}

#listeFilms {
    table-layout: fixed !important;
}

#listeFilms .dataTableRow,  #listeFilms .dataTableRow td{
    cursor: pointer !important;
}

#listeFilms .dataTableRow:hover {
    background-color: lightgray !important;
}

/*
#listeFilms .dataTableTitleTD {
    width: 90% !important;
}

#listeFilms .dataTableYearTD {
    width: 10% !important;
}
*/


.bootstrap-tagsinput {
    width: 250px !important;
}

.bootstrap-select {
    width: 250px !important;
}


/* =================== */

.spinner {
	display: none;
	position: fixed;
	z-index: 9999999;
	left: 50%;
	top: 50%;
	height: 75px;
	width: 75px;
	margin: 0px auto;
}

.cssload-fond{
	position:relative;
	margin: auto;
}

.cssload-container-general
{
	animation:cssload-animball_two 2.5s infinite;
        -o-animation:cssload-animball_two 2.5s infinite;
        -ms-animation:cssload-animball_two 2.5s infinite;
        -webkit-animation:cssload-animball_two 2.5s infinite;
        -moz-animation:cssload-animball_two 2.5s infinite;
	width:116px; height:116px;
}
.cssload-internal
{
	width:116px; height:116px; position:absolute;
}
.cssload-ballcolor
{
	width: 53px;
	height: 53px;
	border-radius: 50%;
}
.cssload-ball_1, .cssload-ball_2, .cssload-ball_3, .cssload-ball_4
{
    position: absolute;
    animation:cssload-animball_one 2.5s infinite ease;
    -o-animation:cssload-animball_one 2.5s infinite ease;
    -ms-animation:cssload-animball_one 2.5s infinite ease;
    -webkit-animation:cssload-animball_one 2.5s infinite ease;
    -moz-animation:cssload-animball_one 2.5s infinite ease;
}
.cssload-ball_1
{
    background-color: rgb(255,198,26);
    top:0; left:0;
}
.cssload-ball_2
{
    background-color: rgb(227,41,44);
    top:0; left:63px;
}
.cssload-ball_3
{
    background-color: rgb(44,161,220);
    top:63px; left:0;
}
.cssload-ball_4
{
    background-color: rgb(11,194,99);
    top:63px; left:63px;
}


@keyframes cssload-animball_one
{
    0%{ position: absolute;}
    50%{top:32px; left:32px; position: absolute;opacity:0.5;}
    100%{ position: absolute;}
}

@-o-keyframes cssload-animball_one
{
    0%{ position: absolute;}
    50%{top:32px; left:32px; position: absolute;opacity:0.5;}
    100%{ position: absolute;}
}

@-ms-keyframes cssload-animball_one
{
    0%{ position: absolute;}
    50%{top:32px; left:32px; position: absolute;opacity:0.5;}
    100%{ position: absolute;}
}

@-webkit-keyframes cssload-animball_one
{
    0%{ position: absolute;}
    50%{top:32px; left:32px;position: absolute;opacity:0.5;}
    100%{ position: absolute;}
}

@-moz-keyframes cssload-animball_one
{
    0%{ position: absolute;}
    50%{top:32px; left:32px; position: absolute;opacity:0.5;}
    100%{ position: absolute;}
}

@keyframes cssload-animball_two
{
    0%{transform:rotate(0deg) scale(1);}
    50%{transform:rotate(360deg) scale(1.3);}
    100%{transform:rotate(720deg) scale(1);}
}

@-o-keyframes cssload-animball_two
{
    0%{-o-transform:rotate(0deg) scale(1);}
    50%{-o-transform:rotate(360deg) scale(1.3);}
    100%{-o-transform:rotate(720deg) scale(1);}
}

@-ms-keyframes cssload-animball_two
{
    0%{-ms-transform:rotate(0deg) scale(1);}
    50%{-ms-transform:rotate(360deg) scale(1.3);}
    100%{-ms-transform:rotate(720deg) scale(1);}
}

@-webkit-keyframes cssload-animball_two
{
    0%{-webkit-transform:rotate(0deg) scale(1);}
    50%{-webkit-transform:rotate(360deg) scale(1.3);}
    100%{-webkit-transform:rotate(720deg) scale(1);}
}

@-moz-keyframes cssload-animball_two
{
    0%{-moz-transform:rotate(0deg) scale(1);}
    50%{-moz-transform:rotate(360deg) scale(1.3);}
    100%{-moz-transform:rotate(720deg) scale(1);}
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}






