/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-04, 15:55:47
    Author     : Oli
*/

#addDateInterval {
    cursor: pointer;
    color: #337ab7;
}

#addDateInterval:hover {
    cursor: pointer;
    color: #337ab7;
    text-decoration: underline;
}

#addDateInterval:active {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.dateSelect {
    margin-left: 15px !important;
}

#rechercheAvancee table td {
    padding: 5px;
}

#rechercheAvancee table {
    width: 100%;
    table-layout: fixed;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.selectTD {
    width: 100%;
}

.dateInterval * {
    margin-bottom: 3px !important;
}

#rechercheAvanceeBouton {
    width: 100%;
    height: 45px;
    margin-right: 10px;
    margin-bottom: 5px;
}

#rechercheAvanceeBoutonTD {
    text-align: right;
    padding: 15px !important;
}

#listeFilms {
    table-layout: fixed !important;
}

#listeFilms .dataTableRow,  #listeFilms .dataTableRow td{
    cursor: pointer !important;
}

#listeFilms .dataTableRow:hover {
    background-color: lightgray !important;
}

/*
#listeFilms .dataTableTitleTD {
    width: 90% !important;
}

#listeFilms .dataTableYearTD {
    width: 10% !important;
}
*/


.bootstrap-tagsinput {
    width: 100% !important;
    height: 80px !important;
}

.bootstrap-select, .inputTD select {
    width: 100% !important;
    height: 80px !important;
}
