/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-10-04, 15:55:47
    Author     : Oli
*/

#addDateInterval {
    margin-left: 15px;
    cursor: pointer;
    color: #337ab7;
}

#addDateInterval:hover {
    cursor: pointer;
    color: #337ab7;
    text-decoration: underline;
}

#addDateInterval:active {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.dateSelect {
    margin-left: 15px;
}